h1,
h2,
h3,
h4 {
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}

.image__today {
  text-align: center;
  font-size: 60px;
  line-height: 0;
}

.icon__temperature {
  color: #f15d46;
}

.temperature {
  font-size: larger;
}
