.form {
  display: flex;
  flex-flow: row wrap;
  line-height: 1.5rem;
  align-items: center;
  background: radial-gradient(
    321px at 8.3% 75.7%,
    rgb(209, 247, 241, 0.2) 0%,
    rgb(249, 213, 213, 0.2) 81%
  );
}

.form input {
  vertical-align: middle;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  width: 80%;
  border-radius: 0.25rem;
  font-family: "Bebas Neue", cursive;
}

.form button {
  padding: 10px 20px;
  background-color: #f15d46;
  border: 1px solid #f15d46;
  border-radius: 0.25rem;
  color: black;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: "Bebas Neue", cursive;
}

.form button:hover {
  background-color: black;
  color: #f15d46;
  border: 1px solid black;
}

/******************* MEDIA QUERIES (MEDIUM DEVICES) ******************** */
@media (max-width: 1024px) {
  .form input {
    margin: 10px 0;
    width: auto;
  }

  .form {
    flex-direction: column;
    align-items: stretch;
  }
}
