.weather__forecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

.weather__forecast h4 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.forecast__icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.forecast__temperature {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.temp__min {
  color: #7c8083;
}
