.container__app {
  padding: 50px 0px 20px 0px;
  max-width: 550px;
  margin: 10px auto;
  border: solid;
  background: radial-gradient(
    321px at 8.3% 75.7%,
    rgb(209, 247, 241, 0.2) 0%,
    rgb(249, 213, 213, 0.2) 81%
  );
}
